body
{
    /* background-color: #0000bb; /* #RRGGBB */
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#textEnhance
{
    color: limegreen;
    background-image: none;
    background-image: linear-gradient(red, blue);
}
h4
{
    color:aquamarine;
}

#lists
{
    color: limegreen;
    background-image: none;
    background-image: linear-gradient(purple, green);
}
h4
{
    color:aquamarine;
}